<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.diagnostics>
    <sources>
      <source name="SignalR.SqlMessageBus">
        <listeners>
          <add name="SqlMessageBus" />
        </listeners>
      </source>
      <source name="SignalR.ServiceBusMessageBus">
        <listeners>
          <add name="ServiceBusMessageBus" />
        </listeners>
      </source>
      <source name="SignalR.RedisMessageBus">
        <listeners>
          <add name="RedisMessageBus" />
        </listeners>
      </source>
      <source name="SignalR.ScaleoutMessageBus">
        <listeners>
          <add name="ScaleoutMessageBus" />
        </listeners>
      </source>
      <source name="SignalR.Transports.WebSocketTransport">
        <listeners>
          <add name="Transports.WebSocketTransport" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ServerSentEventsTransport">
        <listeners>
          <add name="Transports.ServerSentEventsTransport" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ForeverFrameTransport">
        <listeners>
          <add name="Transports.ForeverFrameTransport" />
        </listeners>
      </source>
      <source name="SignalR.Transports.LongPollingTransport">
        <listeners>
          <add name="Transports.LongPollingTransport" />
        </listeners>
      </source>
      <source name="SignalR.Transports.TransportHeartBeat">
        <listeners>
          <add name="Transports.TransportHeartBeat" />
        </listeners>
      </source>
      <source name="SignalR.ReflectedHubDescriptorProvider">
        <listeners>
          <add name="ReflectedHubDescriptorProvider" />
        </listeners>
      </source>
    </sources>
    
    <!-- Sets the trace verbosity level -->
    <switches>
      <add name="SignalRSwitch" value="Verbose" />
    </switches>
    
    <!-- Specifies the trace writer for output -->
    <sharedListeners>
      <!-- Listener for transport events --><!--
      <add name="SignalR-Transports" type="System.Diagnostics.TextWriterTraceListener" initializeData="transports.log.txt" />
      --><!-- Listener for scaleout provider events --><!--
      <add name="SignalR-Bus" type="System.Diagnostics.TextWriterTraceListener" initializeData="bus.log.txt" />
      --><!-- Listener for hub discovery events --><!--
      <add name="SignalR-Init" type="System.Diagnostics.TextWriterTraceListener" initializeData="init.log.txt" />-->

      <add name="ReflectedHubDescriptorProvider" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\..\Logs\ReflectedHubDescriptorProvider.log" />
      <add name="SqlMessageBus" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\..\Logs\SqlMessageBus.log" />
      <add name="ServiceBusMessageBus" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\..\Logs\ServiceBusMessageBus.log" />
      <add name="RedisMessageBus" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\..\Logs\RedisMessageBus.log" />
      <add name="ScaleoutMessageBus" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\..\Logs\ScaleoutMessageBus.log" />
      <add name="Transports.WebSocketTransport" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\..\Logs\Transports.WebSocketTransport.log" />
      <add name="Transports.ServerSentEventsTransport" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\..\Logs\Transports.ServerSentEventsTransport.log" />
      <add name="Transports.ForeverFrameTransport" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\..\Logs\Transports.ForeverFrameTransport.log" />
      <add name="Transports.LongPollingTransport" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\..\Logs\Transports.LongPollingTransport.log" />
      <add name="Transports.TransportHeartBeat" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\..\Logs\Transports.TransportHeartBeat.log" />

    </sharedListeners>
    
    <!--<sharedListeners>
      --><!-- Listener for transport events --><!--
      <add name="SignalR-Transports" type="System.Diagnostics.EventLogTraceListener" initializeData="SignalRScaleoutLog" />
      --><!-- Listener for scaleout provider events --><!--
      <add name="SignalR-Bus" type="System.Diagnostics.EventLogTraceListener" initializeData="SignalRTransportLog" />
      --><!-- Listener for hub discovery events --><!--
      <add name="SignalR-Init" type="System.Diagnostics.EventLogTraceListener" initializeData="SignalRInitLog" />
    </sharedListeners>-->

    <trace autoflush="true" />

  </system.diagnostics>
</configuration>